*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    text-decoration: none;
    color: black;
}
html{
    font-size: 62.5%
}
button{
    padding: 20px 50px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 60px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.6rem;
}
h1{
    font-size: 6rem;
    font-weight: bolder;
    margin-bottom: 15px;
    line-height: 1;
}
h2{
    font-size: 4rem;
}
p, a{
    font-size: 1.8rem; 
    font-weight: 450;
}
input{
    width: 30rem;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.1);
}
img{
    width: 100%;
}

header{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1.2rem 1.2rem 4rem;
    max-width: 90%;
    position: fixed;
    border-radius: 100px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.nav_links{
    display: flex;
    align-items: baseline;
    gap: 4rem;
}
.nav_links nav{
    display: flex;
    gap: 2rem ;
}
.nav_links nav a{
    font-weight: 500;
}
header .buttons{
    display: flex;
    gap: .8rem;
}
header .buttons #signup{
    background-color: rgb(26, 26, 26);
    color: white;
    padding: 20px 30px;
}
header .buttons #login{
    border-radius: 10px;
    padding: 20px 30px;
}

main{
    height: 100vh;
}
main p{
    margin-top: 20px;
}

/* --------------- advert --------------------- */
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 85%);
}
.advert{
    max-width: 90%;
    width: 1200px;
    padding: 30px 0;
    min-height: 700px;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.right .text{
    margin-bottom: 50px;
}
.left, .right {
    width: 100%;
}

.create {
    background-color: white;
}

.feature{
    background-color: hsl(0, 0%, 100%);
}
.feature .right, 
.profile .right, 
.jumpstart .right,
.fast_friendly .right{
    width: 80%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.feature button{
    margin: 5px;
    padding: 3rem 5rem;
    border-radius: 30px;
}

.center .buttons{
    /* display: inline-flex; */
    margin: 0 auto;
    gap: 1rem;
    width: 100%;
}
.profile .advert{
    align-items: normal;
    /* height: 1000px; */
}
.profile button{
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.5);
    background-color: hsl(0, 0%, 90%);
}

.profile img{
    width: 100%;
    max-width: 700px;
    border-radius: 200px;
 }


.jumpstart input{
    border: 1px solid rgba(0,0,0,.3);
}

.questionBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.questionBox h1{
    margin-bottom: 50px;
}
.question{
    width: 100%;
    background-color: rgb(219, 219, 219);
    border: 1px solid rgba(0,0,0,.2);
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 10px;
}
.questionHead{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.questionHead button{
    border-radius: 5px;
    padding: 10px 30px;

}
.questionHead p{
    font-weight: bold;
    font-size: 2.2rem;
}


footer{
    background-color: white;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 20px;
    padding: 40px;
}
footer.advert{
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding: 5rem;
}
footer .top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer .bottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
footer .bottom .buttons button{
    padding: 20px;
}

