*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
}
:root{
    --border: 1px solid rgba(0,0,0,.2) ;
    --grey: hsl(0, 0%, 90%);
}
html{
    font-size: 62.5%;

}
h1{
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 1;
}
h2{
    font-size: 3rem;
}
a{
    font-size: 1.8rem;
    font-weight: 500;
}
p{
    font-size: 1.8rem;
}
p.text{
    font-weight: 500;
}
small{
    font-size: 1.4rem;
    color: hsl(0, 0%, 30%);
}
button{
    padding: 20px 60px;
    font-weight: bold;
    border-radius: 60px;
    border: var(--border);
    cursor: pointer;
    font-size: 1.6rem;
}
img{
    width: 100%;
}




body{
    background-color: hsl(0, 0%, 90%);
}
.container{
    /* background-color: white; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 700px;
    height: 100vh;
}

.advert{
    width: 90%;
    max-width: 1200px;
    border: var(--border);
    display: flex;
    gap: 2rem;
}
.advert-content, 
.advert-image{
    width: 100%;
}
.advert-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: white;
    padding: 15px 15px 15px 50px;
    border-radius: 100px;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}
header .navlinks{
    display: flex;
    align-items: baseline;
    gap: 5rem;
}
header .navlinks nav{
    display: flex;
    gap: 2rem;
}
header .buttons #login{
    border-radius: 10px;
    padding: 20px 40px;
}
header .buttons #signup{
    padding: 20px 40px;
    background-color: hsl(0, 0%, 10%);
    color: white;
}

.header-dropdown{
    background-color: white;
    width: 90%;
    max-width: 1000px;
    border-radius: 15px;
    border: var(--border);
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.header-dropdown-left,
.header-dropdown-right,
.header-dropdown-middle{
    width: 100%;
    padding: 10px;
    /* background-color: rgb(207, 207, 207); */
}
.header-dropdown-middle{
    border-left: var(--border);
    border-right: var(--border);
}
.header-dropdown-left .left-textcontent{
    padding: 1.2rem;
    border-radius: 7px;
    transition: .3s ease-in;
    cursor: pointer;
}
.header-dropdown-left .left-textcontent:hover{
    background-color: var(--grey);    
}

.middle-texts{
    border-bottom: var(--border);
    padding: 10px;
}
.middle-text{
    margin-bottom: 15px;
}
.middle-text-para{
    margin-bottom: 3px;
}
.middle-socials-text{
    padding: 30px 10px;
}

.header-dropdown-right img{
    border-radius: 10px;
    margin: 15px 0;
}